
.list{
    background-color: rgb(255, 253, 253) ;
    border-radius: 5px;
    margin: 20px;
    height: 65px;
    box-shadow: 3px 5px 5px rgb(182, 175, 175);
    display: flex;
    flex-direction: row;    
     
    p{
        width: 267px;
        word-break: break-all;
        overflow: hidden;
    }
    .btnList{
        margin: auto 5px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .editInput{
        margin-top: 12px;
        width: 180px;
    }
    .inpCheck{
        margin:10px;
    }
}
