
.list{
    background-color: rgb(255, 253, 253) ;
    border-radius: 5px;
    margin: 20px;
    height: 65px;
    box-shadow: 3px 5px 5px rgb(182, 175, 175);
    display: flex;
    flex-direction: row;    
 
    .text{
        margin: auto;
        width: 267px;
        word-break: break-all;
        overflow: hidden;
        
    }
    .btnList{
        margin: auto 10px;

        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
    }
    .btnListImg{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .inpCheck{
        margin:10px;
    }
    .edit{
        margin-top: 12px;
        width: 267px;    
    }
    .formEdit{
        margin-top: 10px;
        width: 320px;
        display: flex;
    }
}
