
.inputTask{
    display: flex;
    justify-content: space-evenly;
}

.taskAddInput{
    width: 320px;
}
.taskAddButton{
    width: 100px;
    height: 40px;
}
.inputError{
    border-bottom: 1px solid red;
}
.errorText{

    width: 140px;
    margin: 0;
    color: red;
    font-size: 10px;
}
